#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;

}

.ingredient-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.ingredient-buttons {
  margin-right: 50%;
}

img {
  max-width: 100px;
}

.modal-burger {
  margin: auto auto auto 50%;
}

.total-price {
  font-weight: bold;
  font-size: 17px;
  color: black;
}

.remove-button {
  padding: 20px;
  background: url('./assets/delete.png') center no-repeat;
  background-size: 30px;
}

.ingredients-two {
  font-weight: bold;
  font-size: 17px;
  margin: auto 10px;
  color: black;
}
